<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      async function refresh() {
        const url =
          window.location.protocol +
          "//" +
          window.location.hostname +
          ":" +
          window.location.port;
        document.getElementById("image").src =
          url + "/game_map?rand" + Math.random();

        const response = await fetch(url + "/states/scores").then();
        const scores = await response.json();
        score_string = '<h2 style="color: white"> This Game: ';
        for (const score of scores.scores) {
          score_string += `<span style="color: ${score.color}">${score.team}: ${score.score} </span> - `;
        }
        score_string += '</h2><h2 style="color: white"> All Games: ';
        for (const score of scores.overall_scores) {
          score_string += `<span style="color: ${score.color}">${score.team}: ${score.score} </span> - `;
        }
        score_string += "</h2>";
        document.getElementById("score").innerHTML = score_string;
      }
      setInterval(refresh, 1000);
    </script>
    <title>Status Page</title>
  </head>
  <body style="background-color: black">
    <div id="score"></div>
    <div><img id="image" src="" /></div>
  </body>
</html>
